/**************************************************
 MAIN SECTION STYLES
**************************************************/

.main {
  @extend %clearfix;
  background-color: $main-bg;
  padding-top: 6em;
  padding-bottom: 9em;
  &__content {
    @extend %major-column;
  }
  header {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid $border-color;
    h1 {
      margin: 0;
      color: $headline-color;
      font-family: $headline-font;
    }
  }
}