/**************************************************
 CONTACT SECTION STYLES
**************************************************/

#contact {
  .main {
    header {
      margin-bottom: 4.5em;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.contact-form {
  @extend %major-column;
}

.contact-info {
  @extend %minor-column;
  max-width: none;
  margin-bottom: 3em;
}

.ask-form {
  margin-top: 4.5em;
}