/**************************************************
 DEFAULT FORM STYLES
**************************************************/

form {
  padding:  1em 3em 3em;
  background-color: $form-bg;
  border: 1px solid $form-border;
  h5 {
    margin: 1.5em 0 .75em;
  }
  p {
    font-family: $sans-serif;
    font-size: 1.2em;
  }
}

input, 
textarea, 
select, 
button {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  @include border-radius();
  display: block;
  width: 100%;
  padding: .5em;
  border: 1px solid $form-border;
  font-family: $form-input-font;
  font-size: 1.6em;
  -webkit-appearance: none;
}

textarea {
  height: 12em;
  resize: vertical;
}

select {
  width: 100%;
  font-size: 1.6em;
}

input {
  &[type="submit"] {
    @extend button;
    width: 100%;
    margin-top: 1em;
    padding: .75em 1em;
    @include break-up($medium){
      width: 48%;
    }
  }
}

button {
  @extend %button-shared;
  @extend %button-standard;
  font-size: 1.8em;
  -webkit-appearance: none;
}

label { color: $form-label-color }

.required { color: $required-field }

fieldset {overflow:hidden}

.alpha{@include break-up($small){float:left}}
.omega{@include break-up($small){float:right}}
.half{@include break-up($small){width:48%}}