/**************************************************
 FOOTER STYLES
**************************************************/

%footer-bg {
  background-color: $footer-bg;
}

.site-footer {
  @extend %clearfix;
  padding: 4.5em $side-padding;
  color: $footer-text;
  text-align: center;
  @include break-up($small){
    text-align: left;
  }
  @include break-up($large){
    padding-top: 6em;
    padding-bottom: 6em;
  }
  h1 {
    @include font-size(30);
    margin: 0 0 1em;
  }
  nav {
    margin: 3em 0;
    @include break-up($small){
      float: left;
      width: 47.5%;
      margin-top: 0;
      padding-top: 1.5em;
    }
    @include break-up($medium){
      width: 30%;
    }
    h5 {
      margin: 0 0 .5em;
    }
    ol {
      padding: .5em 0;
      border-top: 1px solid lighten($footer-bg,10%);
    }
    li {
      margin: .75em 0;
      text-transform: uppercase;
      ol {
        margin: 1em 0 1em .5em;
        padding: 0;
        border-top: none;
      }
      li {
        text-transform: none;
      }
    }
    .site-footer__legal-links {
      li {
        text-transform: none;
      }
    }
  }
  &__modules {
    @include break-up($small){
      float: right;
      width: 47.5%;
    }
    @include break-up($medium){
      width: 66.66%;
    }
    aside {
      @include border-radius(.25em);
      margin: 3em 0;
      padding: 1.5em;
      background-color: $lt-gray;
      color: $body-text;
      @include break-up($small){
        margin-top: 0;
      }
      @include break-up($medium){
        width: 47.5%;
      }
    }
    h5 {
      margin: .25em 0 .75em;
      text-align: center;
    }
    .mailinglist-module {
      @include break-up($medium){float:right}
      form {
        @include border-radius(0);
        padding: 0;
        border: none;
      }
      input[type="text"]{
        margin-bottom: .5em;
      }
      input[type="submit"]{
        width: 100%;
        margin-top: 0;
        padding: .5em;
      }
    }
    .twitter-module {
      @include break-up($medium){float:left}
      ol {
        list-style: none;
        margin: 0 0 1em;
        text-align: left;
      }
      li {
        @include font-size(10);
        margin: .5em 0;
        padding: 1.75em 1.5em 1em;
        background-color: $white;
        p {
          @include font-size(12);
          margin: 0;
        }
        small {
          @include font-size(11);
          display: block;
          margin-top: .75em;
        }
      }
    }
  }
  &__copyright {
    clear: both;
  }
}