@charset "UTF-8";
/**************************************************
 VARIABLES
**************************************************/
/**************************************************
 FONT STACKS
**************************************************/
/**************************************************
 FONT USAGE
**************************************************/
/**************************************************
 COLOR PALETTE
**************************************************/
/* Site Colors */
/**************************************************
 COLOR USAGE
**************************************************/
/* Base Colors */
/* Link Colors */
/* Button Colors */
/* Header Colors */
/* Navigation Colors */
/* Footer Colors */
/* Sidebar Colors */
/* Main Section Colors */
/* Blog Colors */
/**************************************************
 UNICODE CHARACTERS
**************************************************/
/**************************************************
 SITE SPECIFIC
**************************************************/
/* 3d Transform Defaults */
/* Transition Defaults */
/* Color Contrast Defaults */
/**************************************************
 COMPASS
**************************************************/
/**************************************************
 HELPERS
**************************************************/
/**************************************************
 CONVERT PIXELS TO EMS
**************************************************/
/**************************************************
 BREAKPOINTS
**************************************************/
/**************************************************
 FONT SIZE
**************************************************/
/**************************************************
 BUTTON
**************************************************/
/**************************************************
 HI-RES BACKGROUND IMAGES
**************************************************/
/**************************************************
 BACKGROUND IMAGE REPLACEMENT
**************************************************/
/**************************************************
 COMPASS RESET
**************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**************************************************
 ADDITIONAL RESET STYLES
**************************************************/
audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover, a:active {
  outline: none; }

img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0; }
  .ie8 img, .ie8 object, .ie8 embed {
    width: auto; }

svg:not(:root) {
  overflow: hidden; }

ins {
  color: #1a1a1a;
  text-decoration: none; }

mark {
  color: #1a1a1a; }

del {
  text-decoration: line-through; }

abbr {
  cursor: help; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  font-size: inherit;
  font: 100%; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td, td img {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

em > strong, strong > em {
  font-weight: bold;
  font-style: italic; }

small {
  font-size: .85em; }

sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

pre, code, kbd, samp {
  font-family: "courier new", monospace, serif;
  font-size: 1em; }

textarea {
  overflow: auto; }

.clickable, label, input[type='button'], input[type='submit'], button, input[type="submit"], a {
  cursor: pointer; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

button, input[type="submit"] {
  width: auto;
  overflow: visible; }

button, input[type="submit"], input, select, textarea {
  margin: 0; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**************************************************
 EXTENDABLE STYLES
**************************************************/
.site-header, .site-subheader, .site-footer, .main, .blog-post header, .blog-post footer, .bottom {
  zoom: 1; }
  .site-header:before, .site-subheader:before, .site-footer:before, .main:before, .blog-post header:before, .blog-post footer:before, .bottom:before, .site-header:after, .site-subheader:after, .site-footer:after, .main:after, .blog-post header:after, .blog-post footer:after, .bottom:after {
    display: table;
    visibility: hidden;
    content: ""; }
  .site-header:after, .site-subheader:after, .site-footer:after, .main:after, .blog-post header:after, .blog-post footer:after, .bottom:after {
    clear: both; }

a, .button, button, input[type="submit"], .pagination .next,
.pagination .prev, .blog-post .back, .site-subheader .social-links .mailing-list .mailing-list__wrapper, .nav-toggle .line {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/**************************************************
 BASE
**************************************************/
/**************************************************
 SELECTION STYLES
**************************************************/
::selection {
  background: rgba(26, 26, 26, 0.25);
  text-shadow: none;
  color: #fff; }

::-moz-selection {
  background: rgba(26, 26, 26, 0.25);
  text-shadow: none;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; }

  a:link {
    -webkit-tap-highlight-color: rgba(26, 26, 26, 0.25); } }
/**************************************************
 BASE STYLES
**************************************************/
html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  background-color: #fff;
  font-family: Helmet, Freesans, sans-serif; }
  body.open-nav {
    overflow-x: hidden; }

section {
  padding: 6em 5%; }
  @media screen and (min-width: 45em) {
    section {
      padding-top: 7.5em;
      padding-bottom: 7.5em; } }
  @media screen and (min-width: 56.25em) {
    section {
      padding-top: 9em;
      padding-bottom: 9em; } }

svg {
  height: 1em;
  width: 1em; }

/**************************************************
 LAYOUT STYLES
**************************************************/
.inner {
  max-width: 1080px;
  max-width: 108rem;
  margin-left: auto;
  margin-right: auto; }

.main__content, .blog-post, .blog-feed, .contact-form {
  margin-bottom: 4.5em; }
  @media screen and (min-width: 45em) {
    .main__content, .blog-post, .blog-feed, .contact-form {
      float: left;
      width: 65%;
      margin-bottom: 0; } }
  @media screen and (min-width: 56.25em) {
    .main__content, .blog-post, .blog-feed, .contact-form {
      width: 72.5%; } }

@media screen and (min-width: 45em) {
  .sidebar, .contact-info {
    float: right;
    width: 30%; } }
@media screen and (min-width: 56.25em) {
  .sidebar, .contact-info {
    width: 22.5%; } }

/**************************************************
 DEFAULT LINK STYLES
**************************************************/
a {
  text-decoration: none;
  color: #808080; }
  a:hover, a:focus {
    color: dk-gray; }

/**************************************************
 DEFAULT TYPE STYLES
**************************************************/
h1, h2, h3, h4, h5, h6 {
  font-family: Helmet, Freesans, sans-serif;
  font-weight: bold; }

h1, h2, h3 {
  margin: 1em 0; }

h4, h5, h6 {
  margin: 1.5em 0; }

h1 {
  font-size: 42px;
  font-size: 4.2rem; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 30px;
  font-size: 3rem; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5, h6 {
  font-size: 18px;
  font-size: 1.8rem; }

p, li, address {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6; }

p {
  margin: 1em 0; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: square; }

ul,
ol {
  margin: 1em 0 1em 1.5em; }

li {
  margin: .25em 0; }

blockquote {
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  margin: 1.5em 0;
  font-style: italic;
  line-height: normal; }
  @media screen and (min-width: 45em) {
    blockquote {
      float: right;
      width: 50%;
      margin: 0 0 1em 1em; } }
  blockquote:before {
    font-size: 90px;
    font-size: 9rem;
    content: "“";
    display: block;
    height: .5em;
    margin-bottom: .25em; }
  blockquote p {
    font-size: 1em;
    margin: 0; }

small {
  font-size: 12px;
  font-size: 1.2rem;
  display: block; }

/**************************************************
 COMPONENTS
**************************************************/
/**************************************************
 BUTTON STYLES
**************************************************/
.button, button, input[type="submit"], .pagination .next,
.pagination .prev, .blog-post .back {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  display: block;
  padding: .5em 1em;
  background-color: #404040;
  border: 1px solid #272727;
  color: #fff;
  font-family: Helmet, Freesans, sans-serif;
  text-align: center; }

.button {
  font-size: 18px;
  font-size: 1.8rem; }

/**************************************************
 DEFAULT FORM STYLES
**************************************************/
form {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em 3em 3em;
  background-color: #bfbfbf;
  border: 1px solid #a6a6a6; }
  form h5 {
    margin: 1.5em 0 .75em; }

input,
textarea,
select,
button,
input[type="submit"] {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: .5em;
  border: 1px solid #a6a6a6;
  -webkit-appearance: none; }

textarea {
  height: 12em;
  resize: vertical; }

select {
  font-size: 16px;
  font-size: 1.6rem;
  width: 100%; }

input[type="submit"] {
  width: 100%;
  margin-top: 1em;
  padding: .75em 1em; }
  @media screen and (min-width: 45em) {
    input[type="submit"] {
      width: 48%; } }

button, input[type="submit"] {
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-appearance: none; }

label {
  color: #1a1a1a; }

.required {
  color: #808080; }

fieldset {
  overflow: hidden; }

@media screen and (min-width: 33.75em) {
  .alpha {
    float: left; } }

@media screen and (min-width: 33.75em) {
  .omega {
    float: right; } }

@media screen and (min-width: 33.75em) {
  .half {
    width: 48%; } }

/**************************************************
 DEFAULT TABLE STYLES
**************************************************/
/**************************************************
 MODULES
**************************************************/
/**************************************************
 HEADER STYLES
**************************************************/
.site-header {
  background-color: #808080; }
  @media screen and (min-width: 45em) {
    .site-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 2em 5%; } }
  .site-header h1 {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 0;
    padding: 0.75em 5%; }
    @media screen and (min-width: 45em) {
      .site-header h1 {
        float: left;
        padding: 0; } }
    .site-header h1 a {
      color: #fff; }

/**************************************************
 SUBHEADER STYLES
**************************************************/
.site-subheader {
  background-color: #bfbfbf;
  padding: 1.5em 5%; }
  @media screen and (min-width: 45em) {
    .site-subheader {
      padding-top: 9.6em;
      padding-bottom: 2em; } }
  .site-subheader .search-bar {
    margin-bottom: 1.5em;
    padding: 0;
    background-color: transparent;
    border: none; }
    @media screen and (min-width: 33.75em) {
      .site-subheader .search-bar {
        float: left;
        width: 45%;
        max-width: 30em;
        margin-bottom: 0; } }
    .site-subheader .search-bar input {
      font-size: 14px;
      font-size: 1.4rem;
      border: none; }
  .site-subheader .social-links {
    list-style: none;
    margin: 0;
    text-align: center; }
    @media screen and (min-width: 33.75em) {
      .site-subheader .social-links {
        float: right;
        text-align: right; } }
    .site-subheader .social-links li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 10px;
      font-size: 1rem;
      margin: 0 .25em; }
      @media screen and (min-width: 33.75em) {
        .site-subheader .social-links li {
          margin-right: 0;
          margin-left: .375em; } }
    .site-subheader .social-links a {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block;
      width: 3em;
      height: 3em;
      background-color: #1a1a1a;
      color: #fff; }
    .site-subheader .social-links svg {
      height: 3em;
      width: 3em;
      fill: #fff; }
    .site-subheader .social-links .mailing-list {
      position: relative; }
      .site-subheader .social-links .mailing-list a {
        -moz-border-radius: 2em;
        -webkit-border-radius: 2em;
        border-radius: 2em;
        font-size: 14px;
        font-size: 1.4rem;
        width: auto;
        height: 2.14286em;
        padding: .25em .75em 0; }
      .site-subheader .social-links .mailing-list .mailing-list__wrapper {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        position: absolute;
        z-index: 5;
        top: 1em;
        right: -1em;
        width: 30em;
        text-align: center; }
      .site-subheader .social-links .mailing-list form {
        -moz-box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
        -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
        box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
        display: none;
        padding: 1.5em 2em 2em;
        background-color: #fff;
        border: none; }
        .site-subheader .social-links .mailing-list form:before {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          right: 4.2em;
          border-bottom: 10px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent; }
        .site-subheader .social-links .mailing-list form h5 {
          margin: 0 0 .75em; }
        .site-subheader .social-links .mailing-list form input[type="text"] {
          margin-bottom: .5em; }
        .site-subheader .social-links .mailing-list form input[type="submit"] {
          width: 100%;
          margin-top: 0;
          padding: .5em; }
      .site-subheader .social-links .mailing-list.show .mailing-list__wrapper {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        top: 3.5em; }
      .site-subheader .social-links .mailing-list.show form {
        display: block; }

/**************************************************
 NAVIGATION STYLES
**************************************************/
nav {
  font-family: Helmet, Freesans, sans-serif; }
  nav ol {
    list-style: none;
    margin: 0; }
  nav li {
    margin: 0;
    line-height: normal; }

/**************************************************
 HEADER NAVIGATION STYLES
**************************************************/
header nav {
  display: none;
  background-color: #bfbfbf;
  text-align: center; }
  @media screen and (min-width: 45em) {
    header nav {
      display: block !important;
      float: right; } }
  header nav li {
    font-size: 18px;
    font-size: 1.8rem;
    border-top: 1px solid #a6a6a6; }
    header nav li:first-child {
      border-top: none; }
  header nav a {
    display: block;
    padding: .75em 1em;
    color: #404040; }
    header nav a:hover, header nav a:focus {
      background-color: #a6a6a6;
      color: #1a1a1a; }
  @media screen and (min-width: 45em) {
    header nav {
      margin-top: .625em;
      background-color: transparent; }
      header nav li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-left: 1em;
        border-top: none; }
      header nav a {
        padding: 0;
        background-color: transparent;
        color: #fff; }
        header nav a:hover, header nav a:focus {
          background-color: transparent;
          color: #bfbfbf; } }

/**************************************************
 NAVIGATION TOGGLE BUTTON
**************************************************/
.nav-toggle {
  display: block;
  position: relative;
  float: right;
  width: 5em;
  padding: 1.5em 0;
  margin: 2.5em 5% 0; }
  @media screen and (min-width: 45em) {
    .nav-toggle {
      display: none; } }
  .nav-toggle .line {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    overflow: hidden;
    width: 5em;
    height: 0;
    padding-top: .5em;
    background: #fff; }
    .nav-toggle .line.topbar, .nav-toggle .line.bottombar {
      position: absolute;
      left: 0; }
    .nav-toggle .line.topbar {
      top: .5em; }
    .nav-toggle .line.bottombar {
      bottom: .5em; }
  .nav-toggle:hover .topbar, .nav-toggle:focus .topbar {
    top: 0; }
  .nav-toggle:hover .bottombar, .nav-toggle:focus .bottombar {
    bottom: 0; }
  .nav-toggle.open .topbar {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1.5em; }
  .nav-toggle.open .middlebar {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .nav-toggle.open .bottombar {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 1.5em; }

/**************************************************
 FOOTER STYLES
**************************************************/
body {
  background-color: #404040; }

.site-footer {
  padding: 4.5em 5%;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 33.75em) {
    .site-footer {
      text-align: left; } }
  @media screen and (min-width: 56.25em) {
    .site-footer {
      padding-top: 6em;
      padding-bottom: 6em; } }
  .site-footer h1 {
    font-size: 30px;
    font-size: 3rem;
    margin: 0 0 1em; }
  .site-footer nav {
    margin: 3em 0; }
    @media screen and (min-width: 33.75em) {
      .site-footer nav {
        float: left;
        width: 47.5%;
        margin-top: 0;
        padding-top: 1.5em; } }
    @media screen and (min-width: 45em) {
      .site-footer nav {
        width: 30%; } }
    .site-footer nav h5 {
      margin: 0 0 .5em; }
    .site-footer nav ol {
      padding: .5em 0;
      border-top: 1px solid #5a5a5a; }
    .site-footer nav li {
      margin: .75em 0;
      text-transform: uppercase; }
      .site-footer nav li ol {
        margin: 1em 0 1em .5em;
        padding: 0;
        border-top: none; }
      .site-footer nav li li {
        text-transform: none; }
    .site-footer nav .site-footer__legal-links li {
      text-transform: none; }
  @media screen and (min-width: 33.75em) {
    .site-footer__modules {
      float: right;
      width: 47.5%; } }
  @media screen and (min-width: 45em) {
    .site-footer__modules {
      width: 66.66%; } }
  .site-footer__modules aside {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    margin: 3em 0;
    padding: 1.5em;
    background-color: #bfbfbf;
    color: #1a1a1a; }
    @media screen and (min-width: 33.75em) {
      .site-footer__modules aside {
        margin-top: 0; } }
    @media screen and (min-width: 45em) {
      .site-footer__modules aside {
        width: 47.5%; } }
  .site-footer__modules h5 {
    margin: .25em 0 .75em;
    text-align: center; }
  @media screen and (min-width: 45em) {
    .site-footer__modules .mailinglist-module {
      float: right; } }
  .site-footer__modules .mailinglist-module form {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border: none; }
  .site-footer__modules .mailinglist-module input[type="text"] {
    margin-bottom: .5em; }
  .site-footer__modules .mailinglist-module input[type="submit"] {
    width: 100%;
    margin-top: 0;
    padding: .5em; }
  @media screen and (min-width: 45em) {
    .site-footer__modules .twitter-module {
      float: left; } }
  .site-footer__modules .twitter-module ol {
    list-style: none;
    margin: 0 0 1em;
    text-align: left; }
  .site-footer__modules .twitter-module li {
    font-size: 10px;
    font-size: 1rem;
    margin: .5em 0;
    padding: 1.75em 1.5em 1em;
    background-color: #fff; }
    .site-footer__modules .twitter-module li p {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0; }
    .site-footer__modules .twitter-module li small {
      font-size: 11px;
      font-size: 1.1rem;
      display: block;
      margin-top: .75em; }
  .site-footer__copyright {
    clear: both; }

/**************************************************
 SIDEBAR STYLES
**************************************************/
.sidebar {
  max-width: 30em;
  margin: 0 auto; }
  @media screen and (min-width: 33.75em) {
    .sidebar {
      max-width: none; } }
  .sidebar aside {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin: 0 auto 1.5em;
    padding: 5em 1.5em 1.5em;
    background-color: #bfbfbf;
    border: 1px solid #808080; }
    @media screen and (min-width: 33.75em) {
      .sidebar aside {
        float: left;
        width: 47.5%;
        margin-left: 5%; }
        .sidebar aside:nth-child(odd) {
          clear: left;
          margin-left: 0; } }
    @media screen and (min-width: 45em) {
      .sidebar aside {
        float: none;
        width: auto;
        margin-left: 0; }
        .sidebar aside:nth-child(odd) {
          clear: none; } }
    .sidebar aside h3 {
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      font-size: 18px;
      font-size: 1.8rem;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      margin: 0 0 .5em;
      padding: .5em .75em;
      background-color: #808080;
      color: #fff; }
    @media screen and (min-width: 45em) {
      .sidebar aside select {
        display: none; } }
    .sidebar aside ol {
      display: none;
      list-style: none;
      margin: 0; }
      @media screen and (min-width: 45em) {
        .sidebar aside ol {
          display: block; } }
    .sidebar aside li {
      margin: .25em 0;
      line-height: normal; }
      .sidebar aside li:first-child {
        border-top: none; }
      .sidebar aside li a {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        display: block;
        padding: .5em .75em;
        background-color: #808080;
        color: #fff; }
        .sidebar aside li a:hover, .sidebar aside li a:focus {
          background-color: #404040; }
    .sidebar aside p {
      font-size: 14px;
      font-size: 1.4rem;
      margin: .5em 0; }
    .sidebar aside .button {
      font-size: 16px;
      font-size: 1.6rem;
      margin-top: 1.5em; }

/**************************************************
 PAGINATION STYLES
**************************************************/
.pagination {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 3.8em; }
  @media screen and (min-width: 33.75em) {
    .pagination {
      height: auto;
      background-color: transparent; } }
  .pagination .next,
  .pagination .prev {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    width: 50%;
    padding: .75em 1em; }
    @media screen and (min-width: 33.75em) {
      .pagination .next,
      .pagination .prev {
        font-size: 14px;
        font-size: 1.4rem;
        width: 7.5em; } }
  .pagination .prev {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 0; }
    @media screen and (min-width: 33.75em) {
      .pagination .prev {
        -moz-border-radius-topright: 0.25em;
        -webkit-border-top-right-radius: 0.25em;
        border-top-right-radius: 0.25em;
        -moz-border-radius-bottomright: 0.25em;
        -webkit-border-bottom-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em; } }
  .pagination .next {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 0; }
    @media screen and (min-width: 33.75em) {
      .pagination .next {
        -moz-border-radius-topleft: 0.25em;
        -webkit-border-top-left-radius: 0.25em;
        border-top-left-radius: 0.25em;
        -moz-border-radius-bottomleft: 0.25em;
        -webkit-border-bottom-left-radius: 0.25em;
        border-bottom-left-radius: 0.25em; } }
  .pagination ol {
    display: none;
    list-style: none;
    margin: 0;
    padding-top: .125em;
    text-align: center; }
    @media screen and (min-width: 33.75em) {
      .pagination ol {
        display: block; } }
  .pagination li {
    font-size: 18px;
    font-size: 1.8rem;
    display: inline;
    margin: 0 0 0 .5em; }
    .pagination li:before {
      content: "•";
      margin-right: .5em; }
    .pagination li:first-child {
      margin-left: 0; }
      .pagination li:first-child:before {
        display: none; }

/**************************************************
 SIDEBAR STYLES
**************************************************/
.comments h2 .comments__jump-link {
  font-size: 16px;
  font-size: 1.6rem;
  white-space: nowrap; }
  @media screen and (min-width: 33.75em) {
    .comments h2 .comments__jump-link {
      float: right;
      margin-top: .5em; } }
.comments__list {
  list-style: none;
  margin: 0 0 3em;
  border-top: 1px solid #bfbfbf; }
  .comments__list li {
    font-size: 10px;
    font-size: 1rem;
    padding: .5em 0 1.5em;
    border-bottom: 1px solid #bfbfbf; }
    .comments__list li small {
      display: block;
      margin: 1.5em 0 0; }
@media screen and (min-width: 56.25em) {
  .comments__form input[type="submit"] {
    width: 50%; } }

/**************************************************
 SECTIONS
**************************************************/
/**************************************************
 MAIN SECTION STYLES
**************************************************/
.main {
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 9em; }
  .main header {
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #bfbfbf; }
    .main header h1 {
      margin: 0;
      color: #404040;
      font-family: Helmet, Freesans, sans-serif; }

/**************************************************
 BLOG SECTION STYLES
**************************************************/
.blog-post {
  margin-bottom: 4.5em; }
  @media screen and (min-width: 45em) {
    .blog-post {
      margin-bottom: 0;
      border-bottom: none; } }
  .blog-post article {
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 7.5em; }
  .blog-post header {
    margin-bottom: 3em;
    padding-bottom: 0; }
    .blog-post header h1 {
      margin: 0 0 .5em;
      color: #404040;
      font-family: Helmet, Freesans, sans-serif; }
  .blog-post .post-image {
    margin-bottom: 4.5em; }
    .blog-post .post-image img {
      display: block; }
    .blog-post .post-image figcaption {
      display: block;
      padding-top: 1em; }
  .blog-post footer {
    margin-top: 4.5em;
    padding: 3em 0;
    border-top: 1px solid #bfbfbf; }
  .blog-post .back {
    float: left;
    font-size: 16px;
    font-size: 1.6rem; }

.post-top__date {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 0 1em;
  color: #808080;
  font-weight: bold;
  text-transform: uppercase; }
.post-top__comments {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: .625em 0;
  border-top: 1px solid #bfbfbf; }
  @media screen and (min-width: 33.75em) {
    .post-top__comments {
      text-align: right; } }

.share-links {
  list-style: none;
  margin: 0;
  padding: .75em 0;
  border-top: 1px solid #bfbfbf; }
  @media screen and (min-width: 33.75em) {
    .share-links {
      float: left;
      border-top: none; } }
  .share-links li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    font-size: 1rem;
    margin: 0 0 0 .25em; }
    .share-links li:first-child {
      margin-left: 0; }
  .share-links span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 0.25em; }
  .share-links a {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 2.4em;
    width: 2.4em;
    background-color: #1a1a1a; }
  .share-links svg {
    height: 2.4em;
    width: 2.4em;
    fill: #fff; }

.blog-feed {
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 4.5em;
  padding-bottom: 4.5em; }
  @media screen and (min-width: 45em) {
    .blog-feed {
      margin-bottom: 0;
      border-bottom: none; } }
  .blog-feed .post-image {
    float: left;
    width: 25%;
    margin: 0 1.5em 1.5em 0; }
  .blog-feed article {
    float: none;
    width: auto;
    margin-bottom: 4.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #bfbfbf; }
  .blog-feed header {
    margin-bottom: .5em;
    padding-bottom: 0;
    border-bottom: none; }
    .blog-feed header h2 {
      margin: 0 0 .5em;
      font-family: Helmet, Freesans, sans-serif; }

/**************************************************
 BLOG SECTION STYLES
**************************************************/
.blog-post {
  margin-bottom: 4.5em; }
  @media screen and (min-width: 45em) {
    .blog-post {
      margin-bottom: 0;
      border-bottom: none; } }
  .blog-post article {
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 7.5em; }
  .blog-post header {
    margin-bottom: 3em;
    padding-bottom: 0; }
    .blog-post header h1 {
      margin: 0 0 .5em;
      color: #404040;
      font-family: Helmet, Freesans, sans-serif; }
  .blog-post .post-image {
    margin-bottom: 4.5em; }
    .blog-post .post-image img {
      display: block; }
    .blog-post .post-image figcaption {
      display: block;
      padding-top: 1em; }
  .blog-post footer {
    margin-top: 4.5em;
    padding: 3em 0;
    border-top: 1px solid #bfbfbf; }
  .blog-post .back {
    float: left;
    font-size: 16px;
    font-size: 1.6rem; }

.post-top__date {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 0 1em;
  color: #808080;
  font-weight: bold;
  text-transform: uppercase; }
.post-top__comments {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: .625em 0;
  border-top: 1px solid #bfbfbf; }
  @media screen and (min-width: 33.75em) {
    .post-top__comments {
      text-align: right; } }

.share-links {
  list-style: none;
  margin: 0;
  padding: .75em 0;
  border-top: 1px solid #bfbfbf; }
  @media screen and (min-width: 33.75em) {
    .share-links {
      float: left;
      border-top: none; } }
  .share-links li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    font-size: 1rem;
    margin: 0 0 0 .25em; }
    .share-links li:first-child {
      margin-left: 0; }
  .share-links span {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 0.25em; }
  .share-links a {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 2.4em;
    width: 2.4em;
    background-color: #1a1a1a; }
  .share-links svg {
    height: 2.4em;
    width: 2.4em;
    fill: #fff; }

.blog-feed {
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 4.5em;
  padding-bottom: 4.5em; }
  @media screen and (min-width: 45em) {
    .blog-feed {
      margin-bottom: 0;
      border-bottom: none; } }
  .blog-feed .post-image {
    float: left;
    width: 25%;
    margin: 0 1.5em 1.5em 0; }
  .blog-feed article {
    float: none;
    width: auto;
    margin-bottom: 4.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #bfbfbf; }
  .blog-feed header {
    margin-bottom: .5em;
    padding-bottom: 0;
    border-bottom: none; }
    .blog-feed header h2 {
      margin: 0 0 .5em;
      font-family: Helmet, Freesans, sans-serif; }

/**************************************************
 CONTACT SECTION STYLES
**************************************************/
#contact .main header {
  margin-bottom: 4.5em;
  padding-bottom: 0;
  border-bottom: none; }

.contact-info {
  max-width: none;
  margin-bottom: 3em; }

.ask-form {
  margin-top: 4.5em; }

/**************************************************
 HOME PAGE STYLES
**************************************************/
.hero {
  position: relative;
  padding: 4.5em 5%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }
  @media screen and (min-width: 45em) {
    .hero {
      height: 75vh;
      padding: 0; } }
  .hero aside {
    padding: 3em;
    background-color: #1a1a1a;
    background-color: rgba(26, 26, 26, 0.75);
    color: #fff; }
    @media screen and (min-width: 45em) {
      .hero aside {
        position: absolute;
        left: 50%;
        bottom: 6em;
        width: 45%;
        max-width: 54em; } }
    .hero aside h4 {
      margin: 0 0 .5em; }
    .hero aside .button {
      max-width: 15em;
      background-color: #808080;
      border: none; }

.media {
  background-color: #fff; }
  .media h2 {
    margin: 0;
    text-align: center; }
  .media ol {
    list-style: none;
    margin: 0;
    text-align: center; }
  .media li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 10px;
    font-size: 1rem;
    margin: 6em 1.5em 0;
    width: 21em; }
  .media h3 {
    font-size: 18px;
    font-size: 1.8rem;
    margin: .5em 0 0; }
  .media a {
    display: block; }

.bottom {
  padding: 0;
  background-color: #bfbfbf; }
  @media screen and (min-width: 45em) {
    .bottom {
      padding: 4.5em 5%; } }
  .bottom aside {
    padding: 4.5em 5%;
    background-color: #808080;
    text-align: center; }
    .bottom aside h3 {
      margin: 0 0 .5em; }
    @media screen and (min-width: 45em) {
      .bottom aside {
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
        float: right;
        width: 30%;
        padding: 2em; }
        .bottom aside h3 {
          font-size: 24px;
          font-size: 2.4rem; }
        .bottom aside p {
          font-size: 14px;
          font-size: 1.4rem; } }
    @media screen and (min-width: 56.25em) {
      .bottom aside {
        width: 30%; } }
  .bottom article {
    margin-left: 12em;
    padding: 4.5em 5%; }
    @media screen and (min-width: 33.75em) {
      .bottom article {
        margin-left: 15em; } }
    @media screen and (min-width: 45em) {
      .bottom article {
        float: left;
        width: 65%;
        margin-left: 0;
        padding: 3em 0 0 18em; } }
    @media screen and (min-width: 56.25em) {
      .bottom article {
        padding-left: 24em;
        padding-top: 4.5em; } }
    .bottom article .book__cover {
      -moz-box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
      -webkit-box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
      box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
      float: left;
      width: 10em;
      margin-left: -12em; }
      @media screen and (min-width: 33.75em) {
        .bottom article .book__cover {
          width: 12em;
          margin-left: -15em; } }
      @media screen and (min-width: 45em) {
        .bottom article .book__cover {
          width: 15em;
          margin-top: -3em;
          margin-left: -18em; } }
      @media screen and (min-width: 56.25em) {
        .bottom article .book__cover {
          width: 18em;
          margin-top: -4.5em;
          margin-left: -24em; } }
      .bottom article .book__cover img {
        display: block; }
    .bottom article h3 {
      margin: 0 0 .5em; }
    .bottom article .button {
      max-width: 15em; }
